*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main styling */

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.main__image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.main__details {
  padding-top: 10px;
  gap: 8px;
}

.main__details p {
  font-weight: 600;
}

.current__day {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding-top: 10px;
}

.current__day h3 {
  font-size: 16px;
}
